.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

.icon-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #0d1b2a;
    width: 10%;
    height: 100%;
    border: none;
    margin: auto;
  }