.Left{

    .Hint{
        display: flex;
        font-size: var(--hint-font-size);
        background-color: var(--accent);
        margin-top: 2rem;
        font-weight: normal;
        padding: 1rem;
        width: 30vh;
        flex-flow: row;
        align-items: center;
        text-align: left;
        border-radius: var(--rad);

        .icon{
            margin-right: 20px;
        }
    }

    .myQR{
        width: 30vh;
    }
}

.countdown-timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    background-color: var(--accent);
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}